:root {
    --font-serif: "Roboto Condensed", "Oswald", "DM Sans", serif;
    --black: #080808;
    --blue: #337ab7;
    --orange: #f4640b;
    --light-grey: #e7e7e7; /*footer font*/
    --white: #fff; /*Header and body background*/
    --medium-grey: #333; /*above footer*/
    --blue-dark: #0a4f8a;



}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: var(--font-serif);
    color: var(--black);
    line-height: 1.667;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-serif);
    color: var(--black);
    line-height: 1.2;
    font-weight: 500;
}

h2 {
    font-size: 2.5rem;
}

a {
    color: var(--blue-dark);
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

img {
    max-width: 100%;
    display: block;

}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}

.component__code {
    border: 1px solid #ccc;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/*header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
  }
*/
.navbar-collapse:before, .navbar-collapse:after {
    display: table;
    content: " ";
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.navbar {
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    font-size: larger;
    position: sticky;
    border: 4rem;

}

.navbar__list  {
    display: flex; /*flex*/
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    max-height: 100px;
    padding: 0.5rem 1rem;
    text-decoration: none;

}

.navbar__list a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font: Proxima Nova;
    color: var(--black)
}

.navbar-brand-logo {
    width: 180px;
    margin: 0 15px;
    padding-bottom: 8rem;
}