:root {
    --font-serif: "Roboto Condensed", "Oswald", "DM Sans", serif;
    --black: #080808;
    --blue: #337ab7;
    --orange: #f4640b;
    --light-grey: #e7e7e7; /*footer font*/
    --white: #fff; /*Header and body background*/
    --medium-grey: #333; /*above footer*/
    --blue-dark: #0a4f8a;
    --font-button: 
}

html {
    box-sizing: border-box;
    display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  
}

body {
    display: block;
    font-family: "DM Sans";
    color: var(--black);
    line-height: 1.667;
    font-size: 16px;
    min-height: 100%;

    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-serif);
    color: var(--black);
    line-height: 1.2;
    font-weight: 500;
}

h1 {

}

h2 {
    font-size: 2.5rem;
    font-family: "OSWALD";
    color: var(--orange);
    
}

h3 {
    color: var(--orange);
    font-size: 24px;
    font-family: "Oswald";
}

a {
    color: var(--blue-dark);
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

img {
    max-width: 100%;
    display: block;

}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}



div {
    display: block;
    unicode-bidi: isolate;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    width: 750px;
    margin-right: auto;
    margin-left: auto;
}

/*World Famous Chicken*/
.component__code__title {
    border-bottom: 7px double #0095C7;
    padding-bottom: 10px;
    max-width: 700px;
    margin: 30px auto;
    color: var(--orange);
    font-size: 48px;
    font-family: "Oswald"; 
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
}

button {
    padding: 8px 20px;
    background-color: transparent;
    border: 5px double #F4640B;
    color: #F4640B;
    box-shadow: none;
    margin: 10px;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    transition: 350ms;
    font-weight: 700;
    font-family: "Oswald";
    font-size: 18px;
    letter-spacing: 1px;
}

/* Best Fried Chicken*/

.best__chicken {
    text-align: center;
    font-size: 18px;
    word-wrap: break-word;
    flex-direction: column;
}

.best__chicken_img {
    margin: auto;
    flex-direction: column;
    order: 1;
    justify-content: flex-end;
    display: flex;
    text-align: center;
    align-items: center;
}


.component__code__bromberg_bros {
    padding: 50px;
    border: 5px double var(--blue);
    background-color: white;
    text-align: center;

}

.bromberg_bros {
    font-family: "Oswald"; 
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
}

.location {
    background-color: white;
}
/*Photo Grid*/

.photo__grid {
    display: grid;
    grid-template-columns: [first-line] repeat(4, 1fr) [last-line];
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(58, 57, 57);
    grid-gap: 10px;
    position: relative;
    object-fit: contain;
    margin-top: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.square-img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    
}

.badge__images {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 20px;
    
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
    
    background-color: rgb(252, 252, 252);
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    position: relative;
    grid-row: span 1;
    grid-column: 4;
    object-fit: contain;
    word-wrap: break-word;
    padding: 50px 0;
}

.imageflash__logo {
    vertical-align: middle;
    overflow-clip-margin: content-box;
    border: 0;
}
.image__on__text {
    position: relative;
    text-align: center;
    display: block;
    position: relative;
    margin: 0;
    padding: 10% 30px;
}
/** .home-page template **/

/*header*/
.home-page__header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.navbar-collapse:before, .navbar-collapse:after {
    display: table;
    content: " ";
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

.navbar {
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
    display: center;
    vertical-align: middle;
    flex-direction: row;
    font-size: larger;
    position: sticky;
    border: 4rem;
    background-color: white;
    
}

.nav-list  {
    display: flex; /*flex*/
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    max-height: 100px;
    padding: 0.5rem 1rem;
    text-decoration: none;

    font-size: 16px;
    font-weight: 500;
    font-family: "Oswald"

}

.nav-list a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font: Proxima Nova;
    color: var(--black)
    
}

.navbar-brand-logo {
    width: 180px;
    margin: 0 15px;
    padding: 0;
    text-indent: -999px;
    overflow: hidden;
    background-size: contain;
    background-position: center center;
    font-size: 18px;
    line-height: 20px;
    
}

/*footer*/
.footer-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
    background-color: #080808;
    list-style: none;
    
}
.social  {
    list-style: none;
    color: #0095C7;
    text-align: center;
    background-color: #1f1f1f;
    padding: 10px 15px;
    width: 970px;
}

footer {
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
    background-color: #191919;
    color: #e7e7e7;
    font-family: "DM Sans";
    list-style: none;
    unicode-bidi: isolate;
    display: block;
    
}
.footer__location {
    
    padding: 30px 15px;
    float: left;
    margin-bottom: 5px
    word-break: break-all;
}

.foot__logos {
    
    list-style: none;
}

.popmenu {
    background-color: #2b2b2b;
    padding: 15px;
    text-align: center;
    color: #e7e7e7;
    position: relative;
}